# Python-related
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django secret & environment config
.env

# IDE/editor related
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.pyc
*.pyo

# Migrations (optional)
**/migrations/
!**/migrations/__init__.py

# Byte-compiled cache
*.bak
*.swp

# Static & media (optional if you're not storing user uploads yet)
staticfiles/
media/

# Node.js files (if ever used for frontend)
node_modules/

# Git ignore itself
.gitignore
